In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/epi_sim.zip')

In [3]:
df.shape

(9434653, 6)

In [5]:
(df
    .groupby(['rep', 'intervened', 'tr'])['ig_type']
    .count()
    .groupby(level='rep')
    .cumsum()
)

rep  intervened  tr
0    8           0.000166          1
     9           0.000152          4
                 0.000166          5
     10          0.000152          6
                 0.000166          7
     12          0.000152         10
                 0.000166         15
     13          0.000152         16
                 0.000166         19
     14          0.000152         22
                 0.000166         28
     15          0.000152         35
                 0.000166         39
     16          0.000152         45
                 0.000166         58
     17          0.000152         67
                 0.000166         74
     18          0.000152         92
                 0.000166        106
     19          0.000152        113
                 0.000166        129
     20          0.000152        152
                 0.000166        167
     21          0.000152        186
                 0.000166        201
     22          0.000152        220
                 0.000166        256
     23          0.000152        285
                 0.000166        310
     24          0.000152        344
                              ...
2    171         0.000135    3509100
                 0.000166    3509101
     172         0.000152    3509102
     173         0.000135    3509104
                 0.000166    3509105
     174         0.000135    3509107
                 0.000166    3509108
     175         0.000135    3509109
                 0.000152    3509110
     177         0.000135    3509111
     178         0.000135    3509113
                 0.000152    3509114
     179         0.000135    3509116
     180         0.000135    3509117
     181         0.000135    3509118
     183         0.000135    3509120
     184         0.000152    3509121
                 0.000166    3509122
     185         0.000166    3509123
     186         0.000135    3509124
     187         0.000152    3509125
                 0.000166    3509126
     189         0.000135    3509127
                 0.000152    3509128
     190         0.000166    3509129
     193         0.000135    3509130
                 0.000152    3509131
     195         0.000135    3509132
     198         0.000166    3509133
     199         0.000135    3509134
Name: ig_type, Length: 1196, dtype: int64